


/* Place this at the end of your CSS file */

@media(min-width: 640px){
  
  body{
  
  } /* end of @media body */
  
  section{
    width: 50%;
    padding: 4%;
    margin: 10px auto;
    background-color: rgba(255, 255, 0, 0.3);
    border-radius: 3px;
    font-size: 1.2em;
  } /* end of @media section */
  
  p#message{
    color: blue;
    font-weight: bold;
  } /* end of @media p#message */


} /* end of @media */
